body {
    font-size: 15px;
}

button {
    height: 43px;;
    font-size: 15px;
    width: 100%;
}


#room-code-scroll-pane {
    --scroll-bar-height: 46px;

    overflow-x: scroll;
    width: 100%;
    height: var(--scroll-bar-height);
    line-height: var(--scroll-bar-height); 
    scrollbar-width: thin;
    text-align: center;

    box-shadow: 0 0px 2px 0 var(--colors-button);

}

#room-code-scroll-pane label {
    --padding: 5px;

    padding-left: var(--padding); 
    padding-right: var(--padding);
}

#room-code-scroll-pane::-webkit-scrollbar {
    height: 0px;
}