html {
    --font-size: 15px;
}

body {
    font-size: var(--font-size);
}

button {
    font-size: var(--font-size);
    height: 43px;
    width: 100%;
}

#input {
    --input-box-height: 45px;

    margin: auto;
    display: block;
    border: none;
    text-align: center;
    outline: none;
    font-size: var(--font-size);
    font-family: var(--fonts-global);    

    /* Visually adjusted */
    width: 98%;

    background-color: var(--colors-background);
    color: var(--colors-text);

    height: var(--input-box-height);
    line-height: var(--input-box-height); 
    box-shadow: 0 0px 2px 0 var(--colors-button);

    margin-bottom: 12px;

}
